name: Ligar Servidor Agora
on:
  workflow_dispatch:

jobs:
  start-codespace:
    runs-on: ubuntu-latest
    steps:
      - name: Autenticar GitHub CLI
        run: |
          echo "${{ secrets.GH_PAT }}" | gh auth login --with-token

      - name: Ligar Codespace do repositório
        run: |
          NAME=$(gh codespace list --repo "${{ github.repository }}" --json name --jq '.[0].name')
          
          echo "Ligando a máquina..."
          gh codespace resume -c "$NAME"
          
          # Aguarda 10 segundos para o sistema carregar
          sleep 10
          
          echo "Enviando comando de início para o Crafty..."
          # Este comando tenta rodar o script de boot do Crafty remotamente
          gh codespace ssh -c "$NAME" -- "cd /workspaces/ServidorMCPE/crafty-4 && python3 main.py &"
