name: Ligar Servidor Remotamente
on:
  workflow_dispatch:

# ADICIONE ESTAS 3 LINHAS ABAIXO:
permissions:
  contents: write

jobs:
  start-codespace:
    runs-on: ubuntu-latest
    steps:
      - name: Ligar o Codespace
        run: |
          NAME=$(gh codespace list --json name --jq '.[0].name')
          echo "Ligando o codespace: $NAME"
          gh codespace resume -c "$NAME"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
